.App {
  text-align: center;
}

.StartPage h3 {
  margin-top: 20px;
  margin-bottom: 0;
}

.Character {
  width: 150px;
  height: 500px;
  border: 2px solid darkblue;
  border-radius: 5px;
  padding: 10px;
}

.Character:hover {
  transform: scale(1.1);
  background-color: lightcyan;
}

.Image img {
  width: 150px;
  height: 300px;
  background-size: cover;
  background-position: center;
}

/* FLEX */
.d-flex {display: flex;}
.f-wrap { flex-wrap: wrap;}
.row {flex-direction:row;}
.column {flex-direction: column;}
.center {justify-content: center;}
.a-center {align-items: center;}
.a-flex-start {align-items: flex-start;}
.evenly {justify-content: space-evenly;}
.space-arnd { justify-content: space-around;}
.space-btw { justify-content: space-between;}
.left {justify-content:left;}
.right {justify-content:right;}
.f-end {justify-content: flex-end;}
.txt-center {text-align: center;}
.txt-right {text-align: right;}
.txt-left {text-align: left;}